### Intellij IDEA ###
.idea/
.idea_modules/
*.iml
.fleet/

### VisualStudioCode ###
.vscode/*
.vs/*

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

### Linux ###
*~
.Trash-*

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db

### Other ###
*.backup
*.log
*.bak
*.tmp
.*.swp
hlib-*.tgz
